*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:var(--background);

    color:var(--white);

    font-family:Inter,sans-serif;

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    border:none;

    background:none;

    cursor:pointer;

}

img{

    display:block;

    max-width:100%;

}

ul{

    list-style:none;

}