@media(max-width:960px){

.hero-content{

grid-template-columns:1fr;

text-align:center;

}

.hero-image{

order:-1;

}

.hero-buttons{

justify-content:center;

flex-wrap:wrap;

}

.hero h1{

font-size:3rem;

}

.hero-image img{

width:320px;

}

.nav{

display:none;

}

.btn-header{

display:none;

}

.about-content{

    grid-template-columns:1fr;

}

.about-cards{

    grid-template-columns:1fr;

}

.about-image{

    order:-1;

}

.services-grid{

    grid-template-columns:1fr;

}

.tech-grid{

    grid-template-columns:repeat(2,1fr);

}
}

@media(max-width:650px){

.tech-grid{

grid-template-columns:1fr;

}

.timeline{

    grid-template-columns:1fr;

}

.differentials-grid{

    grid-template-columns:1fr;

}

}