.technologies{

    position:relative;

}

.tech-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

    margin-top:70px;

}

.tech-card{

    position:relative;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:40px;

    text-align:center;

    transition:.35s;

    overflow:hidden;

}

.tech-card::after{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        180deg,
        transparent,
        rgba(32,196,255,.06)
    );

    opacity:0;

    transition:.35s;

}

.tech-card:hover{

    transform:translateY(-10px);

    border-color:rgba(32,196,255,.30);

    box-shadow:0 25px 60px rgba(32,196,255,.12);

}

.tech-card:hover::after{

    opacity:1;

}

.tech-card img{

    width:70px;

    margin:auto;

    margin-bottom:25px;

    transition:.4s;

}

.tech-card:hover img{

    transform:scale(1.15) rotate(6deg);

}

.tech-card h3{

    font-family:"Space Grotesk";

    font-size:1.2rem;

}